{% extends 'food/base.html' %}

{% block content %}
    {% for food in food_items %}
        <div class="container py-3">
            <div class="row pb-2">
                <div class="col-md-4 offset-md-1">
                    <h3> {{ food.name }} </h3>
                </div>

                <div class="col-md-4">
                    <img src=" {{ food.image.url }} " alt="food image">
                </div>

                <div class="col-md-2">
                    <a href="{% url 'food-detail' food.id %}" class="btn btn-info">View Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}